@import "fonts/stylesheet.css";

body {
  font-family: 'Gilroy';
  background-color: #EBEDF2;

  .btn.btn-red {
    background: linear-gradient(6.19deg, #C43928 7.26%, #E44D3A 94%), #FFFFFF;
    border-radius: 25px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
  }

  .search-f:after {
    content: '';
    background-image: url(/img/s-icon.png);
    position: absolute;
    top: 15px;
    right: 24px;
    width: 12px;
    height: 12px;
  }
  .search-f {
    position: relative;
    margin-right: 15px;
    max-width: 380px;
    width: 100%;
    .search {
      background: #FFFFFF;
      font-size: 14px;
      line-height: 27px;
      color: #28272F;
      padding: 7px 27px;
      border-radius: 15px;
      border: unset;
      width: 100%;
    }
  }

  .btn.btn-blue {
    background: #FFFFFF;
    border-radius: 25px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 27px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .btn.btn-blue.active, .btn.btn-blue:hover {
    background: linear-gradient(2.17deg, #81AFFC 5.62%, #8197FA 96.31%), #FFFFFF;
    color: #FFFFFF;
  }
  .checkbox {
    position: relative;
    padding-left: 36px;
    input {
      display: none;
    }
    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: #28272F;
      display: inline;
      vertical-align: middle;
    }
    span:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: #FFFFFF;
      border: 1px solid #D0D0D0;
      box-sizing: border-box;
      width: 26px;
      height: 26px;
      background: #FFFFFF;
      border: 1px solid #D0D0D0;
      box-sizing: border-box;
      border-radius: 20px;
    }
    span:after {
      position: absolute;
      content: unset;
      top: 6px;
      left: 6.5px;
      width: 14px;
      height: 14px;
      background: #8D4D99;
      border-radius: 20px;
    }
    input:checked ~ span:after {
      background-color: #8D4D99;
      content: '';
    }
  }

  header {
    background-color: white;
    padding: 17px 0;
    .notify-block {
      position: relative;
      .notify {
        display: none;
        position: absolute;
        background: #FFFFFF;
        background: #FFFFFF;
        width: 328px;
        left: -15px;
        // top: 50px;
        top: 25px;
        .top {
          padding: 13px 14px;
          display: flex;
          justify-content: space-between;
          border-bottom: solid 1px #EBEDF2;
          a {
            font-size: 14px;
            line-height: 24px;
            color: #28272F;
          }
        }
        .body {
          .block {
            padding: 15px;
            display: flex;
            border-bottom: solid 1px #EBEDF2;
            .info {
              margin-left: 10px;
              position: relative;
              .name {
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                color: #28272F;
                margin-bottom: 0;
                display: inline;
              }
              .comment {
                display: inline;
                font-size: 14px;
                line-height: 24px;
                color: #28272F;
              }
              .time {
                position: absolute;
                right: 0;
                bottom: 0px;
                margin-bottom: 0;
                font-size: 14px;
                color: rgba(40, 39, 47, 0.78);
              }
            }
          }
        }
        .more {
          background: linear-gradient(1.82deg, #81AFFC 6.98%, #8197FA 93.02%), #FFFFFF;
          padding: 12px 0;
          text-align: center;
          a {
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
          }
        }
      }
    }
    .notify-block:hover {
      .notify {
        display: block;
      }
    }
    .notify:hover {
      display: block;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      margin: auto 0;
      a {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #28272F;
      }
    }
    .search {
      position: relative;
      margin: auto 0;
      input {
        position: relative;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 15px;
        width: 324px;
        padding: 4px 20px;
        font-weight: 300;
        font-size: 14px;
        color: #28272F;
        font-style: italic;
      }
      button {
        background: unset;
        border: unset;
        position: absolute;
        right: 13px;
        top: 2px;
        border-left: 1px solid #DDDDDD;
        box-sizing: border-box;
        padding-left: 15px;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      a.nav {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        color: #28272F;
        margin-right: 25px;
        span {
          display: inline;
          padding-top: 8px;
        }
        img {
          display: inline;
          margin-right: 9px;
          height: 100%;
          width: auto;
          height: 24px;
          width: auto;
          margin: auto 0;
          margin-right: 10px;
        }
      }
      .count {
        position: absolute;
        background-color: #8D4D99;
        color: white;
        padding: 0px 6px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 10px;
        color: #FFFFFF;
        margin: 0;
        left: 10px;
      }
      .userbar {
        position: relative;
        display: flex;
        .avatar {
          width: 33px;
          height: 33px;
          background-position: center;
          background-size: cover;
          border-radius: 17px;
        }
        a {
          font-weight: bold;
          font-size: 16px;
          color: #28272F;
          padding-top: 5px;
          margin-left: 11px;
          text-decoration: unset;
        }
      }
      .userbar:after {
        content: '';
        position: absolute;
        background-image: url(/img/move-to-next.png);
        background-size: contain;
        top: 14px;
        width: 11px;
        height: 8px;
        right: -18px;
      }
    }
  }
  section.head {
    padding-top: 34px;
    background-size: cover;
    background-position: right;
    position: relative;
    z-index: 1;
    max-height: 272px;
    .container {
      display: flex;
      .avatar {
        width: 300px;
        height: 300px;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.22);
        border-radius: 150px;
        background-position: center;
      }
      .profile-info {
        margin-left: 61px;
        padding-top: 57px;
        .p1 {
          font-weight: bold;
          font-size: 48px;
          line-height: 55px;
          color: #FFFFFF;
        }
        .p2 {
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
        }
      }
    }
  }
  section.main {
    margin-top: 27px;
    .container {
      display: flex;
      .left-menu {
        .block:first-child:before {
          content: '';
          position: absolute;
          top: -305px;
          left: -32px;
          width: 364px;
          height: 364px;
          background: #EBEDF2;
          border-radius: 200px;
          z-index: 0;
        }
        .block:first-child {
          padding-top: 53px;
        }
        .block {
          margin-bottom: 18px;
          position: relative;
          background: #FFFFFF;
          width: 300px;
          border-radius: 8px;
          padding: 20px;
          a.link:not(:last-child) {
            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
            padding-bottom: 16px;
          }
          a.link {
            display: block;
            font-size: 18px;
            line-height: 27px;
            color: #28272F;
            text-decoration: unset;
            padding-top: 16px;
            img {
              margin-right: 16px;
              margin-top: -5px;
            }
          }
          .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 27px;
            color: #28272F;
            margin-bottom: 5px;
            img {
              margin-right: 14px;
            }
          }
          .media:not(:last-child) {
            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
            padding-bottom: 13px;
          }
          .media {
            display: flex;
            justify-content: space-between;
            padding-top: 16px;
          }
          .group:not(:last-child) {
            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
            padding-bottom: 13px;
          }
          .group {
            display: flex;
            padding-top: 16px;
            .icon {
              width: 26px;
              height: 26px;
              border-radius: 13px;
              background-position: center;
              background-size: cover;
            }
          }
          .document:not(:last-child) {
            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
            padding-bottom: 13px;
          }
          .document {
            display: flex;
            padding-top: 16px;
            p.name {
              margin-left: 0;
            }
          }
          p.name {
            font-size: 16px;
            line-height: 27px;
            color: #28272F;
            margin: 0;
            margin-left: 14px;
          }
        }
      }
      .center-wall {
        margin-left: 18px;
        .block {
          background: #FFFFFF;
          max-width: 544px;
          width: 100%;
          margin-bottom: 18px;
          border-radius: 8px;
          padding: 25px;
          padding-bottom: 16px;
          .head {
            display: flex;
            .avatar {
              background-position: center;
              background-size: cover;
              width: 78px;
              height: 78px;
              border-radius: 40px;
              margin: auto 0;
            }
            .info {
              margin: auto 0;
              margin-left: 20px;
              .name {
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #28272F;
                margin-bottom: 7px;
              }
              .time {
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: #CBD1DD;
              }
            }
            .control {
              margin-left: auto;
              a:not(:last-child) {
                margin-right: 7px;
              }
            }
          }
          .content {
            margin-top: 15px;padding-bottom: 17px;
            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
            .title {
              font-weight: 500;
              font-size: 16px;
              line-height: 18px;
              color: #28272F;
            }
            .text {
              font-size: 13px;
              line-height: 22px;
              color: #28272F;
            }
            .more {
              font-weight: 300;
              font-size: 13px;
              line-height: 22px;
              color: #28272F;
              text-align: right;
              display: block;
            }
            .stack span {
              font-size: 14px;
              line-height: 16px;
              color: #28272F;
              background: #F1F1F1;
              padding: 5px 10px;
              border-radius: 20px;
            }
          }
          .infos {
            display: flex;
            padding-top: 16px;
            span {
              color: #cbd1dd;
            }
            .like {
              width: 100px;
            }
            .views {
              margin-left: auto;
            }
            img {
              margin-right: 10px;
              margin-top: -3px;
            }
          }
        }
      }
      .right-menu {
        margin-left: 18px;
        .calendar {
          border-radius: 8px;
          background-color: white;
          margin-bottom: 18px;
          .head {
            width: 260px;
            background: linear-gradient(25.75deg, #81AFFC 2.87%, #8197FA 97.32%), #FFFFFF;
            border-radius: 8px 8px 0 0;
            padding: 15px 25px;
            .year {
              font-weight: bold;
              font-size: 24px;
              line-height: 28px;
              color: #FFFFFF;
            }
            .month {
              font-size: 36px;
              line-height: 41px;
              color: #FFFFFF;
              margin: auto 0;
            }
            .control {
              margin: auto 0;
              width: 30px;
              justify-content: space-between;
              display: flex;
            }
            .head-name {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
              .cel {
                width: 25px;
                p {
                  text-align: center;
                  margin: 0;
                  font-size: 16px;
                  line-height: 18px;
                  color: #FFFFFF;
                }
              }
            }
          }
          .body {
            padding: 15px 25px;
            .rows {
              display: flex;
              justify-content: space-between;
              margin-bottom: 15px;
              .cel {
                position: relative;
                width: 25px;
                p {
                  text-align: center;
                  margin: 0;
                  font-size: 16px;
                  line-height: 18px;
                  color: #28272F;
                }
              }
              .cel.free p {
                color: #4F4E55;
              }
              .cel.und:after {
                content: '';
                position: absolute;
                top: 20px;
                right: 1px;
                height: 3px;
                width: 23px;
                background: linear-gradient(0deg, #8D4D99, #8D4D99), #8D4D99;
              }
              .cel.active {
                background: linear-gradient(0deg, #8D4D99, #8D4D99), #E44D3A;
                border-radius: 13px;
                p {
                  color: white;
                }
              }
            }
          }
        }
        .events {
          .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 27px;
            color: #28272F;
            margin-bottom: 25px;
          }
          .rows {
            display: flex;
            justify-content: space-between;
            .block {
              width: 122px;
              height: 122px;
              display: flex;
              margin-bottom: 16px;
              p {
                font-size: 16px;
                  line-height: 18px;
                  color: #FFFFFF;
                  margin: auto;
                  padding-top: 30px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    padding: 24px 0;
    background: #FFFFFF;
    .container {
      display: flex;
      justify-content: space-between;
      a {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #28272F;
      }
    }
  }
  section.chatbox {
    padding-top: 35px;
    padding-bottom: 35px;
    .container {
      background: #FFFFFF;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      padding: 0;
      .image {
        position: relative;
        .count {
          position: absolute;
          background: #8D4D99;
          border: 3px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 25px;
          padding: 3px 8px;
          font-size: 10px;
          color: #FFFFFF;
          left: -4px;
          top: -4px;
        }
        .avatar {
          height: 60px;
          width: 60px;
          border-radius: 30px;
          background-size: cover;
        }
      }
      .users {
        display: flex;
        .list {
          max-height: calc(100vh - 200px);
          overflow-x: scroll;
          width: 310px;
          .user:hover, .user.active {
            background-color: rgb(235, 237, 242);
          }
          .user {
            transition: 0.5s all;
            padding: 0 20px;
            display: flex;
            cursor: pointer;
            padding-top: 30px;
            border-top: 1px solid #EBEDF2;
            padding-bottom: 30px;
            border-bottom: 1px solid #EBEDF2;
            .content {
              margin-left: 15px;
              width: 100%;
              .head {
                display: flex;
                justify-content: space-between;
                .name {
                  margin-bottom: 7px;
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 18px;
                  color: #28272F;
                }
                .time {
                  margin: 0;
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 14px;
                  color: #28272F;
                }
              }
              .body {
                .message {
                  font-size: 12px;
                  line-height: 17px;
                  color: #28272F;
                  margin-bottom: 0;

                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  max-width: 200px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height:34px;
                }
              }
            }
          }
        }
      }
      .chat {
        width: 100%;
        border-left: 1px solid #EBEDF2;
        .head {
          display: flex;
          justify-content: space-between;
          padding: 8px 15px;
          padding-right: 25px;
          border-bottom: 1px solid #EBEDF2;
          .info {
            margin: auto;
            margin-right: auto;
            margin-left: 10px;
            .name {
              font-size: 16px;
              line-height: 18px;
              color: #28272F;
              margin-bottom: 5px;
              font-weight: bold;
            }
            .status {
              font-weight: 300;
              font-size: 12px;
              line-height: 14px;
              color: #28272F;
              margin-bottom: 0;
            }
          }
          .more {
            margin: auto 0;
          }
        }
        .body {
          height: calc(100vh - 407px);
          padding: 20px 30px;
          overflow-x: scroll;
          .message {
            width: fit-content;
            margin-bottom: 20px;
            .main {
              display: flex;
              .content {
                width: 270px;
                padding: 10px 15px;
                background: #EBEDF2;
                border-radius: 20px;
                margin-left: 20px;
                p {
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 17px;
                  color: #28272F;
                  margin-bottom: 0;
                }
              }
            }
            .type {
              width: 270px;
              margin-left: auto;
              font-weight: 300;
              font-size: 12px;
              line-height: 17px;
              color: #28272F;
              margin-bottom: 0;
              padding-top: 6px;
            }
          }
          .message.out {
            margin-left: auto;
            .main {
              flex-direction: row-reverse;
              .content {
                margin-left: 0px;
                margin-right: 20px;
                background: linear-gradient(9.77deg, #81AFFC 7.59%, #8197FA 92.41%), #EBEDF2;
                p {
                  color: #FFFFFF;
                }
              }
            }
            .type {
              text-align: right;
              margin-left: unset;
              margin-right: auto;
            }
          }
          .message.new {
            .main {
              min-width: 125px;
              .content {
                width: fit-content;
                height: fit-content;
              }
            }
            .type {
              width: fit-content;
            }
          }
        }
        .box {
          height: 130px;
          background: #F6F7F9;
          padding: 20px 30px 20px 15px;
          .ms-box {
            margin-bottom: 6px;
            form {
              display: flex;
              textarea {
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #EBEDF2;
                box-sizing: border-box;
                border-radius: 20px;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #28272F;
                padding: 10px 32px;
                resize: none;
              }
              button {
                background: linear-gradient(20.34deg, #C43928 5.51%, #E44D3A 94.49%), #FFFFFF;
                border: unset;
                width: 64px;
                height: 32px;
                margin-left: 8px;
                border-radius: 20px;
              }
            }
          }
          .ms-attach {
            a {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  section.main.dost {
    .container {
      .left-menu {
        .block:first-child:before {
          display: none;
        }
        .block:first-child {
          padding-top: 20px;
        }
      }
      .center-wall {
        .block.stats {
          background: unset;
          padding: 0;
          .head .info .time {
            color: #28272F;
          }
          .content {
            border-bottom: unset;
            padding-bottom: 0px;
            .c-progress {
              margin-bottom: 15px;
              .info {
                display: flex;
                img {
                  height: 13px;
                  width: 13px;
                  margin: auto 0;
                  margin-right: 10px;
                }
                p {
                  font-size: 16px;
                  line-height: 27px;
                  color: #28272F;
                  margin: auto 0;
                  margin-bottom: 0;
                }
              }
              .c-progress-bar {
                position: relative;
                background: white;
                height: 8px;
                border-radius: 10px;
                .c-progress-fill {
                  position: absolute;
                  top: 0;
                  height: 8px;
                  background: linear-gradient(0.04deg, #81AFFC -10.22%, #8197FA 110.22%), #EBEDF2;
                  border-radius: 10px;
                  span {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background: linear-gradient(34deg, #81AFFC -19.56%, #8197FA 119.56%), #FFFFFF;
                    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.22);
                    border-radius: 16px;
                    padding: 0px 6px;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 27px;
                    color: #FFFFFF;
                  }
                }
              }
            }
            .c-types {
              margin-top: 28px;
              display: flex;
              justify-content: space-around;
              .type.active {
                p {
                  color: #8D4D99;
                }
              }
              .type.star:after {
                content: '';
                position: absolute;
                top: -5px;
                right: -5px;
                background-image: url(/img/star.png);
                width: 9px;
                height: 8px;
              }
              .type {
                position: relative;
                display: flex;
                flex-direction: column;
                img {
                  margin: auto;
                  margin-bottom: 10px;
                }
                p {
                  margin: auto;
                  font-size: 14px;
                  line-height: 16px;
                  color: #28272F;
                }
              }
            }
          }
        }
        .block {
          position: relative;
          .head {
           .info {
             .time {
               margin-bottom: 0;
             }
           }
           .h-count {
             margin: auto 0;
             margin-left: auto;
             p {
               margin-bottom: 0;
               font-size: 18px;
               line-height: 21px;
               color: #00a7fe;
             }
           }
          }
          .content {
             .text {
               margin-bottom: 0;
             }
             .bg {
               margin-left: -25px;
               margin-right: -25px;
               margin-bottom: 15px;
               img {
                 width: 100%;
                 height: auto;
               }
             }
          }
        }
      }
    }
  }
  section.main.users-list {
    .container {
      .left-menu {
        .block:first-child:before {
          display: none;
        }
        .block:first-child {
          padding-top: 20px;
        }
      }
      .users {
        margin-left: 20px;
        width: 100%;
        .title {
          font-weight: bold;
          font-size: 36px;
          line-height: 27px;
          color: #28272F;
        }
        .search-panel {
          form {
            display: flex;
          }
          .btn.btn-search {
            margin-left: 4px;
            min-width: 104px;
            border-radius: 30px;
            font-size: 14px;
            line-height: 27px;
            color: #28272F;
            background: #FFFFFF;
          }
          .btn.btn-search.active {
            background: linear-gradient(13.59deg, #81AFFC 7.51%, #8197FA 92.49%), #FFFFFF;
            font-weight: bold;
            color: #FFFFFF;
          }
        }
        .users-profile {
          margin-top: 20px;
          .profile {
            background: #FFFFFF;
            border-radius: 10px;
            padding: 25px 15px;
            margin-bottom: 15px;
            .top {
              display: flex;
              .avatar {
                  height: 60px;
                  width: 60px;
                  border-radius: 30px;
                  background-size: cover;
              }
              .info {
                margin-left: 10px;
                .name {
                  font-size: 18px;
                  line-height: 21px;
                  color: #28272F;
                  font-weight: 600;
                  margin-bottom: 0;
                }
                .status {
                  font-weight: 300;
                  font-size: 14px;
                  line-height: 16px;
                  color: #CBD1DD;
                  margin-bottom: 0;
                }
                .stats {
                  display: flex;
                  justify-content: space-between;
                  .s {
                    display: flex;
                    img {
                      width: 13px;
                      height: 13px;
                      margin: auto 0;
                      margin-right: 10px;
                    }
                    p {
                      margin: auto 0;
                      color: #7799fd;
                      font-weight: bold;
                      font-size: 13px;
                      line-height: 27px;
                    }
                  }
                }
              }
            }
            .down {
              margin-top: 10px;
              .btn-orange {
                background: linear-gradient(1.62deg, #C43928 6.75%, #E44D3A 93.25%), #FFFFFF;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                border-radius: 20px;
                padding: 8px;
                display: block;
                img {
                  margin-top: -3px;
                  margin-left: 15px;
                  margin-right: 10px;
                }
              }
              .view {
                text-align: center;
                display: block;
                font-weight: 300;
                font-size: 16px;
                line-height: 18px;
                color: #28272F;
              }
            }
          }
        }
      }
    }
  }

  section.main.add-avards {
    .container {
      .left-menu {
        .block:first-child:before {
          display: none;
        }
        .block:first-child {
          padding-top: 20px;
        }
      }
      .awards-block {
        margin-left: 20px;
        width: 100%;
        .title {
          font-weight: bold;
          font-size: 36px;
          line-height: 27px;
          color: #28272F;
        }
        .tabs {
          display: flex;
          justify-content: space-between;
          .btn-group {
            width: 100%;
            justify-content: space-between;
            .btn.btn-blue {
              max-width: 32.5%;
              width: 100%;
              padding-left: 0;
              padding-right: 0;
              border-radius: 30px;
            }
          }
        }
        .tab-content {
          margin-top: 25px;
          .form-group {
            label {
              display: block;
              font-weight: bold;
              font-size: 18px;
              line-height: 27px;
              color: #28272F;
            }
            .input, .textarea {
              background: #FFFFFF;
              border-radius: 10px;
              font-size: 14px;
              line-height: 26px;
              width: 100%;
              padding: 7px 20px;
              border: unset;
            }
            .list {
              display: flex;
              .photo {
                width: 150px;
                height: 150px;
                margin-right: 20px;
                position: relative;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              .photo.uploaded:after {
                position: absolute;
                content: '';
                background-image: url(/img/delete.png);
                width: 20px;
                height: 20px;
                right: 7px;
                top: 7px;
                cursor: pointer;
              }
              .photo.input {
                display: flex;
                position: relative;
                img {
                  margin: auto;
                }
                #upload {
                  display: none;
                }
                .upload {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                }
              }
            }
            .list-input {
              display: flex;
              .checkbox {
                margin-right: 25px;
              }
            }
          }
          .form-group.set-ball {
            .input {
              width: 200px;
            }
          }
          .form-group.zn-et {
            .checkbox {
              margin-right: 15px;
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  section.main.mediatek {
    .container {
      .left-menu {
        .block:first-child:before {
          display: none;
        }
        .block:first-child {
          padding-top: 20px;
        }
      }
      .mediatek-block {
        margin-left: 20px;
        width: 100%;
        .top {
          display: flex;
            justify-content: space-between;
          .title {
            font-weight: bold;
            font-size: 36px;
            line-height: 27px;
            color: #28272F;
            margin: auto 0;
          }
          .search-f {
            position: relative;
            margin-left: auto;
          }
          .btn-blue {
            font-weight: bold;
            font-size: 14px;
            line-height: 27px;
            img {
              vertical-align: sub;
              margin-right: 10px;
            }
          }
        }
        .body {
          margin-top: 20px;
          .rows {
            display: flex;
            background: #FFFFFF;
            border-radius: 10px;
            padding: 13px 15px;
            padding-right: 35px;
            margin-bottom: 20px;
            .left {
              width: 75px;
              height: 75px;
              border-radius: 100px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .mid {
              margin: auto 0;
              margin-left: 30px;
              .name {
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
                color: #28272F;
                margin-bottom: 10px;
              }
              .info {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #CBD1DD;
                margin-bottom: 0;
              }
            }
            .right {
              margin: auto 0;
              margin-left: auto;
              display: flex;
              a {
                display: block;
              }
              a:first-child {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }

  section.main.anounce {
    .container {
      .left-menu {
        .block:first-child:before {
          display: none;
        }
        .block:first-child {
          padding-top: 20px;
        }
      }
      .anounce-block {
        margin-left: 20px;
        width: 100%;
        .top {
          display: flex;
            justify-content: space-between;
          .title {
            font-weight: bold;
            font-size: 36px;
            line-height: 27px;
            color: #28272F;
            margin: auto 0;
          }
          .search-f {
            position: relative;
            margin-left: auto;
          }
        }
        .body {
          margin-top: 20px;
          .rows {
            display: flex;
            background: #FFFFFF;
            border-radius: 10px;
            padding: 13px 15px;
            padding-right: 35px;
            margin-bottom: 20px;
            .left {
              width: 75px;
              height: 75px;
              border-radius: 100px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .mid {
              margin: auto 0;
              margin-left: 30px;
              .name {
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
                color: #28272F;
                margin-bottom: 10px;
              }
              .info {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #CBD1DD;
                margin-bottom: 0;
              }
            }
            .right {
              margin: auto 0;
              margin-left: auto;
              display: flex;
              .time {
                margin-bottom: 0;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #28272f5e;
              }
            }
          }
        }
      }
    }
  }

  section.main.group-list {
    .container {
      .left-menu {
        .block:first-child:before {
          display: none;
        }
        .block:first-child {
          padding-top: 20px;
        }
      }
      .group-list-block {
        margin-left: 20px;
        width: 100%;
        .top {
          display: flex;
            justify-content: space-between;
          .title {
            font-weight: bold;
            font-size: 36px;
            line-height: 27px;
            color: #28272F;
            margin: auto 0;
          }
          .search-f {
            position: relative;
            margin-left: auto;
          }
        }
        .body {
          margin-top: 20px;
          .rows {
            display: flex;
            background: #FFFFFF;
            border-radius: 10px;
            padding: 13px 15px;
            padding-right: 35px;
            margin-bottom: 20px;
            .left {
              width: 75px;
              height: 75px;
              border-radius: 100px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .mid {
              margin: auto 0;
              margin-left: 30px;
              .name {
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
                color: #28272F;
                margin-bottom: 10px;
              }
              .info {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #CBD1DD;
                margin-bottom: 0;
              }
            }
            .right {
              margin: auto 0;
              margin-left: auto;
              display: flex;
              .time {
                margin-bottom: 0;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #28272f5e;
              }
            }
          }
        }
      }
    }
  }

  section.main.users-list.group {
    .container {
      .users {
        .users-profile {
          .profile {
            padding: 13px 15px;
            padding-right: 35px;
            display: flex;
            .top {
              .info {
                display: flex;
                .l {
                  margin: auto;
                }
                .stats {
                  margin-left: 10px;
                  .s {
                    margin-right: 10px;
                  }
                }
              }
            }
            .down {
              display: flex;
              margin: auto 0;
              margin-left: auto;
              a:not(:last-child) {
                margin-right: 10px;
              }
              .btn-orange {
                margin-left: 15px;;
                padding-left: 30px;
                padding-right: 30px;
                img {
                  margin-top: -3px;
                  margin-right: 10px;
                  margin-left: unset;
                }
              }
            }
          }
        }
      }
    }
  }
  section.main.group-profile {
    .container {
      .left-menu {
        .block:first-child:before {
          display: none;
        }
        .block:first-child {
          padding-top: 20px;
        }
      }
      .center-wall {
        .title {
          font-weight: bold;
          font-size: 36px;
          line-height: 27px;
          color: #28272F;
        }
        .tabs {
          margin-bottom: 40px;
          display: flex;
          a {
            display: flex;
            white-space: nowrap;
            font-weight: 600;
            img {
              margin: auto;
              margin-right: 5px;
            }
          }
          a:not(:last-child) {
            margin-right: 15px;
          }
        }
        .block {
          position: relative;
          max-width: unset;
          .head {
           .info {
             .time {
               margin-bottom: 0;
             }
           }
           .h-count {
             margin: auto 0;
             margin-left: auto;
             p {
               margin-bottom: 0;
               font-size: 18px;
               line-height: 21px;
               color: #00a7fe;
             }
           }
          }
          .content {
             .text {
               margin-bottom: 0;
             }
             .bg {
               margin-left: -25px;
               margin-right: -25px;
               margin-bottom: 15px;
               img {
                 width: 100%;
                 height: auto;
               }
             }
          }
        }
      }
    }
  }
}
